<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre livre, notre média</title>
</head>

<body>
    <h1>Notre Livre, notre média</h1>
    <h2>{{livre.name}}</h2>
    <p>{{livre.auteur}}</p>
    {% if livre.disponible %}
        <a href="{% url 'livre_emprunt' livre.id %}">Emprunter</a>
    {% else %}
        <a href="{% url 'livre_emprunt' livre.id %}">Rapporter</a>
    {% endif %}
    <a href="{% url 'media' %}">Retour à la liste des medias</a> -
    
</body>

</html>