<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre livre, notre média</title>
</head>

<body>
    <h1>Notre Livre, notre média</h1>
    <h2>Êtes-vous sûr de vouloir supprimer le membre {{membre.first_name}} {{membre.last_name}} ?</h2>
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit">Supprimer</button>
    </form>
    <a href="{% url 'membres' %}">Retour à la liste des membres</a>
</body>

</html>